<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
       Volodymyr Sloboda
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ -->
<section class="courses" id="courses">
  <div class="container">
    <ul class="courses-list-title">
      <li>
        <h2 class="courses-title">
          Our <span class="courses-title-span">Courses</span>
        </h2>
      </li>
      <li>
        <p class="courses-text">
          At our photography school, we offer a variety of courses that cover
          all aspects of this fascinating art. Regardless of your experience or
          skill level, we have courses to suit your needs and goals.
        </p>
      </li>
    </ul>
    <ol class="courses-list">
      <li class="courses-item">
        <p class="courses-number courses-text">01</p>
        <h3 class="courses-name">Basics of photography</h3>
        <p class="courses-review courses-text">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
        <a href="#signup" class="courses-ref">
          <svg class="courses-icon-ref" width="20" height="20">
            <use href="./img/icon.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
      </li>
      <li class="courses-item">
        <p class="courses-number courses-text">02</p>
        <h3 class="courses-name">Landscape photography</h3>
        <p class="courses-review courses-text">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
        <a href="#signup" class="courses-ref">
          <svg class="courses-icon-ref" width="20" height="20">
            <use href="./img/icon.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
      </li>
      <li class="courses-item">
        <p class="courses-number courses-text">03</p>
        <h3 class="courses-name">Portrait photography</h3>
        <p class="courses-review courses-text">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
        <a href="#signup" class="courses-ref">
          <svg class="courses-icon-ref" width="20" height="20">
            <use href="./img/icon.svg#icon-arrow-narrow-up-right"></use>
          </svg>
        </a>
      </li>
    </ol>
  </div>
</section>
