<section class="header-section">
  <div class="container hed-con">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">
        <svg class="header-svg" widht="123" height="16">
          <use href="./img/icon.svg#icon-logo" class=""></use>
        </svg>
      </a>
      <div class="photo-div">
        <a href="#Sign_up" class="header-svg-photo">
          <svg class="header-svg-icon" widht="16" height="16">
            <use href="./img/icon.svg#icon-bi_camera-fill"></use>
          </svg>
        </a>
      </div>
      <button
        class="menu-toggle js-open-menu style-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header-icon" width="42" height="32">
          <use href="./img/icon.svg#icon-Nav"></use>
        </svg>
      </button>
      <ul class="header-list">
        <li class="header-items"><a href="#About_us">About us</a></li>
        <li class="header-items"><a href="#Our_courses">Our courses</a></li>
        <li class="header-items"><a href="#Our_mentors">Our mentors</a></li>
        <li class="header-items"><a href="#Reviews">Reviews</a></li>
        <li class="header-items"><a href="#Contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-div">
      <a href="#Sign_up" class="header-sign">Sign up</a>
    </div>
  </div>
</section>
<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle menu-close js-close-menu">
    <svg class="header-fill" width="32" height="32">
      <use href="../img/icon.svg#close-icon-x"></use>
    </svg>
  </button>
  <nav class="nav-menu">
    <ul class="mobile-menu">
      <li class="header-link link_2 menu-box-link">
        <a href="#About_us">About us</a>
      </li>
      <li class="header-link menu-box-link">
        <a href="#Our_courses">Our courses</a>
      </li>
      <li class="header-link menu-box-link">
        <a href="#Our_mentors">Our mentors</a>
      </li>
      <li class="header-link menu-box-link"><a href="#Reviews">Reviews</a></li>
      <li class="header-link menu-box-link">
        <a href="#Contacts">Contacts</a>
      </li>
    </ul>
  </nav>
  <picture>
    <source
      media="(min-width: 767px)"
      srcset="
        ../img/camera-modal-tablet-min.jpg   1x,
        ../img/camera-modal-tablet2x-min.jpg 2x
      "
      type="image/jpg"
    />
    <img
      srcset="./img/camera-modal-min.jpg 1x, ./img/camera-modal2x-min.jpg 2x"
      src="./img/camera-modal-min.jpg"
      alt="photo camera lens"
      loading="lazy"
    />
  </picture>
</div>

<script defer="" src="../js/mobile-menu.js"></script>
