<section class="header-section">
  <div class="container hed-con">
    <nav class="header-nav">
      <a href="./index.html" class="header-logo">
        <svg class="header-svg" widht="123" height="16">
          <use href="./img/icon.svg#icon-logo" class=""></use>
        </svg>
      </a>
      <div class="photo-div">
        <a href="#Sign_up" class="header-svg-photo">
          <svg class="header-svg-icon" widht="16" height="16">
            <use href="./img/icon.svg#icon-bi_camera-fill"></use>
          </svg>
        </a>
      </div>
      <button
        class="menu-toggle js-open-menu style-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="header-icon" width="42" height="32">
          <use href="./img/icon.svg#icon-Nav"></use>
        </svg>
      </button>
      <ul class="header-list">
        <li class="header-items"><a href="#About_us">About us</a></li>
        <li class="header-items"><a href="#Our_courses">Our courses</a></li>
        <li class="header-items"><a href="#Our_mentors">Our mentors</a></li>
        <li class="header-items"><a href="#Reviews">Reviews</a></li>
        <li class="header-items"><a href="#Contacts">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-div">
      <a href="#Sign_up" class="header-sign">Sign up</a>
    </div>
  </div>
</section>
