<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-flex">
        <h1 class="hero-main-text">
          Discover the magic of
          <span class="hero-span">photography</span> in our school
        </h1>
        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="hero-block">
          <ul class="hero-block-list">
            <li class="hero-spec-height">
              <ul class="hero-list">
                <li class="hero-items">
                  <img
                    class="hero-people-photo"
                    srcset="./img/girl-1-min.png 1x, ./img/girl-1-min2x.png 2x"
                    src="./img/girl-1-min.png"
                    alt=""
                    width="44"
                    height="44"
                  />
                </li>
                <li class="hero-items">
                  <img
                    class="hero-people-photo"
                    srcset="./img/boy-min.png 1x, ./img/boy2x-min.png 2x"
                    src="./img/boy-min.png"
                    alt=""
                    width="44"
                    height="44"
                  />
                </li>
                <li class="hero-items">
                  <img
                    class="hero-people-photo"
                    srcset="./img/girl-min.png 1x, ./img/girl2x-min.png 2x"
                    src="./img/girl-min.png"
                    alt=""
                    width="44"
                    height="44"
                  />
                </li>
              </ul>
            </li>
            <li class="hero-list-up">
              <ul class="hero-list-text">
                <li class="hero-list-happy">
                  <a href="" class="hero-link-review">
                    <p class="hero-text-happy">Our happy students</p>
                  </a>
                </li>
                <li class="hero-strilka-icon">
                  <svg class="hero-div-strilka" width="18" height="18">
                    <use href="./img/icon.svg#icon-Arrow-2-Stroke"></use>
                  </svg>
                </li>
              </ul>
            </li>
          </ul>
          <div class="hero-withstars">
            <a href="#reviews" class="hero-starts"
              ><svg class="hero-icon-star" width="25" height="25">
                <use href="./img/icon.svg#hero-star"></use>
              </svg>
            </a>
            <div class="hero-review">
              <p class="hero-text-reviews">Reviews</p>
              <p class="hero-text-five">+1500</p>
            </div>
          </div>
        </div>
        <!-- hero-div-photo -->
        <!--  HEROBLOCK -->
      </div>
      <div class="hero-div-people">
        <img
          srcset="./img/rectangle-min.png 1x, /img/rectangle2x-min.png 2x"
          src="./img/rectangle-min.png"
          class="hero-photo"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
