<section class="hero">
  <div class="container">
    <div class="hero-container">
      <div class="hero-divforphoto">
        <h1 class="hero-main-text">
          Discover the magic of
          <span class="hero-span">photography</span> in our school
        </h1>
        <p class="hero-text">
          Our photography school offers an unforgettable journey, where you can
          learn the basics of composition, master technical skills, translate
          your unique ideas.
        </p>
        <div class="hero-block">
          <div class="hero-div-photo">
            <ul class="hero-list">
              <li class="hero-items">
                <img
                  class="hero-people-photo"
                  srcset="./img/girl-1-min.png 1x, ./img/girl-1-min2x.png 2x"
                  src="./img/girl-1-min.png"
                  alt=""
                  width="44"
                  height="44"
                />
              </li>
              <li class="hero-items">
                <img
                  class="hero-people-photo"
                  srcset="./img/boy-min.png 1x, ./img/boy2x-min.png 2x"
                  src="./img/boy-min.png"
                  alt=""
                  width="44"
                  height="44"
                />
              </li>
              <li class="hero-items">
                <img
                  class="hero-people-photo"
                  srcset="./img/girl-min.png 1x, ./img/girl2x-min.png 2x"
                  src="./img/girl-min.png"
                  alt=""
                  width="44"
                  height="44"
                />
              </li>
            </ul>
            <div class="hero-strilka">
              <p class="hero-text-happy">Our happy students</p>
              <svg class="hero-div-strilka" width="18">
                <use href="./img/icon.svg#icon-Arrow-2-Stroke"></use>
              </svg>
            </div>
          </div>
          <div class="hero-divstars">
            <div class="hero-starts">
              <svg class="hero-icon-star" width="25">
                <use href="./img/icon.svg#hero-star"></use>
              </svg>
            </div>
            <div class="hero-review">
              <p class="hero-text-reviews">Reviews</p>
              <p class="hero-text-five">+1500</p>
            </div>
          </div>
          <!-- hero-div-photo -->
        </div>
        <!--  HEROBLOCK -->
      </div>
      <img
        srcset="./img/rectangle-min.png 1x, /img/rectangle2x-min.png 2x"
        src="./img/rectangle-min.png"
        class="hero-photo"
        alt=""
      />
    </div>
  </div>
</section>
