<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
       Diana Lastovniak
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ -->
<section class="mentors" id="Our_mentors">
  <div class="container">
    <div class="mentors-container container">
      <h2 class="mentors-titel">
        Our <span class="mentors-span-title">Mentors</span>
      </h2>
      <ul class="mentors-list list">
        <li class="mentors-photo">
          <img srcset="../img/emilia-min.png 1x, ../img/emilia2x-min.png 2x" src="..img/emilia-min.png"
            alt="photo of mentor Emilia" width="180" height="180" />
          <div class="mentors-content">
            <h3 class="mentors-name">Emilia Smith</h3>
            <p class="mentors-experiance">1.5 years of experience</p>
          </div>
        </li>
        <li class="mentors-photo">
          <img srcset="../img/alex-min.png 1x, ../img/alex2x-min.png 2x" src="..img/alex-min.png"
            alt="photo of mentor Alex" width="180" height="180" />
          <div class="mentors-content">
            <h3 class="mentors-name">Alex Lebedev</h3>
            <p class="mentors-experiance">3.5 years of experience</p>
          </div>
        </li>
        <li class="mentors-photo">
          <img srcset="../img/mia-min.png 1x, ../img/mia2x-min.png 2x" src="..img/mia-min.png" alt="photo of mentor Mia"
            width="180" height="180" />
          <div class="mentors-content">
            <h3 class="mentors-name">Mia Dubrovska</h3>
            <p class="mentors-experiance">2.0 years of experience</p>
          </div>
        </li>
        <li class="mentors-photo">
          <img srcset="../img/eliot-min.png 1x, ../img/eliot2x-min.png 2x" src="..img/eliot-min.png"
            alt="photo of mentor Eliot" width="180" height="180" />
          <div class="mentors-content">
            <h3 class="mentors-name">Eliot Kovalev</h3>
            <p class="mentors-experiance">4.0 years of experience</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>