<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
  ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
            Наталья
  ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
  ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ -->
<section id="reviews" class="reviews-six">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <ul class="reviews-page">
      <li class="reviews-blok-one">
        <img class="reviews-photo" srcset="./img/abraham-min.png 1x, ./img/abraham2x-min.png 2x"
          src="./img/abraham-min.png" alt="student" width="56" height="56" loading="lazy">
        <a class="blok-name">
          <h3 class="reviews-name">Abraham Baker</h3>
          <p class="reviews-title-education">Student</p>
        </a>
        <ul class="reviews-icon">
          <li class="reviews-icon-one">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-two">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-three">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-four">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-five">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-paragraf"> I am very pleased that I decided to enroll in photography school. The teachers
          turned out to be very talented and
          experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my
          skills and discover my own style.
        </p>
      </li>
      <li class="reviews-blok-two">
        <img class="reviews-photo" srcset="./img/amanda-min.png 1x, ./img/amanda2x-min.png 2x"
          src="./img/amanda-min.png" alt="student" width="56" height="56" loading="lazy">
        <a class="blok-name">
          <h3 class="reviews-name">Amanda Lowery</h3>
          <p class="reviews-title-education">Student</p>
        </a>
        <ul class="reviews-icon">
          <li class="reviews-icon-one">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-two">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-three">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-four">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
          <li class="reviews-icon-five">
            <svg class="icon-star" width="16" height="16">
              <use href="./img/icon.svg#icon-star"></use>
            </svg>
          </li>
        </ul>
        <p class="reviews-paragraf">The courses at the photography school exceeded all my expectations. I gained not
          only
          technical knowledge, but also
          inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me
          understand
          different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>