<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
          Наталья
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ -->
<section id="reviews" class="reviews-six">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="reviews-blok">
      <div class="info-mantor">
        <picture loading="lazy" class="reviews-photo" source="./img/abraham-min.png 1x, ./img/abraham-min.png 2x"
          src="./img/abraham-min.png" alt="student" width="56" height="56">
          <a class="blok-name">
            <h3 class="reviews-name">Abraham Baker</h3>
            <p class="reviews-title-education">Student</p>
          </a>
      </div>
      <ul class="reviews-icon">
        <li class="reviews-icon-one">
          <svg class="icon-star" width="16" height="16">
            <use href="../img/icon.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews-icon-two">
          <svg class="icon-star" width="16" height="16">
            <use href="../img/icon.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews-icon-three">
          <svg class="icon-star" width="16" height="16">
            <use href="../img/icon.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews-icon-four">
          <svg class="icon-star" width="16" height="16">
            <use href="../img/icon.svg#icon-star"></use>
          </svg>
        </li>
        <li class="reviews-icon-five">
          <svg class="icon-staraa" width="16" height="16">
            <use href="../img/icon.svg#icon-staraa"></use>
          </svg>
        </li>
      </ul>
      <p class="reviews-paragraf"> I am very pleased that I decided to enroll in photography school. The teachers turned
        out to be very talented
        and
        experienced professionals who share their knowledge and are dedicated to their work. I was able to expand my
        skills and
        discover my own style.
      </p>
    </div>
  </div>
</section>