<!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
       Олександр Дубовий
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ -->

  <section class="signup">
      <div class="signup-container container">

        <div class="signup-content">
          <h2 id="signup" class="signup-subtitle">Sign<span class="secondpart-signup-subtitle"> Up</span></h2>
          <p class="signup-title">
            Please use the form below to contact us. Enter your name, email, and
            message and we'll get back to you shortly.
          </p>
          <form class="signup-form">
            <div class="signup-fild">
              <div class="signup-wrap">
                <input
                  id="user-name"
                  name="user-name"
                  type="text"
                  class="signup-input"
                  placeholder="Enter your name"
                />
              </div>
            </div>
            <div class="signup-fild">
              <div class="signup-wrap">
                <input
                  id="user-email"
                  type="email"
                  name="user-email"
                  class="signup-input"
                  placeholder="Enter your email"
                />
              </div>
            </div>
            <div class="textaria-fild">
              <textarea
                name="user-comment"
                id="user-comment"
                class="signup-comment"
                placeholder="Message"
              ></textarea>
            </div>
            </div>
            <button class="signup-btn" type="submit">Send</button>
            <p class="signup-check-text">
              By clicking on “Send” button, you agree to our <a
                href=""
                class="signup-check-link"
                >Privacy Policy</a
              >, and allow Promodo to use this information for marketing purposes.
            </p>
          </form>
        </div>
        <div class="signup-photo">
<div class="signup-objectiv-photo">
          <img
            src="./img/objectiv-min.png"
            alt=""
            class="objectiv"
            width="150"
            height="142"
          />
        </div>
        <div class="signup-canoncam-photo">
          <img
            src="./img/canoncam-min.png"
            alt=""
            class="objectiv"
            width="150"
            height="142"
          />
        </div>
        </div>
        </div>
      </div>
    </section>

