/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
            Юля
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
@import url('./variables.css');

/* mobile */

.about-section {
  padding: 80px 0;
}

.about-container {
  width: 100%;
}

.about-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  margin-bottom: 40px;
}

.about-title-span {
  color: #bea69e;
}

.about-img-box {
  margin-bottom: 40px;
}

.about-img {
  width: 209px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 767.98px) {
  .about-list-item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.about-list-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .about-section {
    padding: 100px 0;
  }

  .about-img {
    width: 340px;
    margin: 0;
  }

  .about-title {
    font-size: 48px;
    line-height: 1.13;
    margin-bottom: 50px;
  }

  .about-img-box {
    margin-bottom: 50px;
  }

  .about-list {
    display: flex;
    align-items: flex-start;
    column-gap: 40px;
  }

  .about-list-text {
    font-size: 16px;
    line-height: 1.25;
    width: 280px;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1280px) {
  .about-section {
    padding: 100px 0;
  }

  .about-img-box {
    margin-bottom: 0;
    margin-right: 40px;
  }

  .about-img-text-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

  }

  .about-list {
    column-gap: 20px;

  }

  .about-list-text {
    width: 268px;

  }
}