/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
       Volodymyr Sloboda
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
@import url('./variables.css');
.courses{
       padding-bottom: 80px;
}
.courses-title {
       font-size: 28px;
       font-weight: 500;
       line-height: 1.14;
       letter-spacing: -0.04em;
       margin-bottom: 20px;
}

.courses-title-span {
       color: var(--brown);
}
.courses-list-title{
       margin-bottom: 40px;
}
.courses-text {
       max-width: 335px;
       font-size: 14px;
       font-weight: 400;
       line-height: 1.28;
       letter-spacing: -0.02em;
}

.courses-list {
       display: flex;
       flex-direction: column;
       gap: 20px;
}

.courses-item {
       position: relative;
       max-width: 335px;
       height: 398px;
       padding: 88px 28px 28px;
       flex-shrink: 0;
       border-radius: 12px;
       border: 1px solid rgba(255, 255, 255, 0.20);
       background: linear-gradient(180deg, #060707 0%, var(--grey) 100%);
}

.courses-number {
       position: absolute;
       top: 28px;
       left: 28px;
       color: rgba(255, 255, 255, 0.40);
}

.courses-name {
       font-size: 28px;
       line-height: 1.14;
       font-weight: 500;
       max-width: 265px;
       margin-bottom: 164px;
}

.courses-review {
       color: rgba(255, 255, 255, 0.40);
       max-width: 279px;
}

.courses-ref {
       display: flex;
       justify-content: center;
       align-items: center;
       position: absolute;
       top: 28px;
       right: 28px;
       width: 32px;
       height: 32px;
       background-color: var(--grey);
       border-radius: 50%;
       transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.courses-icon-ref{
       transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
.courses-icon-ref:hover,
.courses-icon-ref:focus{
       transform: rotate(45deg);
}
.courses-ref:hover,
.courses-ref:focus{
background-color: var(--brown);
}
@media screen and (min-width: 767.98px) {
.courses{
       padding-bottom: 100px;
}
.courses-list-title{
       display: flex;
       gap: 58px;
       margin-bottom: 50px;
}
.courses-title{
       font-size: 48px;
       line-height: 1.12;
       letter-spacing: -0.04em;
}
.courses-text{
       max-width: 381px;
       height: 80px;
       font-size: 16px;
       line-height: 1.25;
       letter-spacing: -0.02em;
}
.courses-list{
       flex-flow: row wrap;
}
.courses-item{
       width: calc( ( 100% - 20px ) /2);
       height: 452px;
       padding: 96px 32px 32px;
}
.courses-name{
       margin-bottom: 180px;
}
.courses-review{
       font-size: 16px;
       line-height: 1.25;
       letter-spacing: -0.02em;
}
}
@media screen and (min-width: 1279.98px) {
.courses-list-title{
       gap: 405px;
}
.courses-text{
       max-width:410px ;
}
.courses{
       padding-bottom: 150px;
}
}
