@import url('./variables.css');
.header-section {
  padding-top: 20px;
  padding-bottom: 20px;
}
.photo-div {
  padding: 9px 0;
  margin-left: auto;
  margin-right: 14px;
}

.header-use {
  width: 123px;
  height: 16px;
}

.header-logo {
  padding: 17px 0 17px 20px;
}

.header-nav {
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: #121212;
}

.header-svg {
  fill: var(--white);
  width: 123px;
  height: 16px;
}

.header-svg-photo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-list {
  display: none;
}

.header-but {
  display: none;
}

.header-icon {
  fill: #bea69e66;
}
.style-menu {
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 14px 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
}
.header-div {
  display: none;
}

.header-svg-icon {
  fill: #bea69e66;
}
.header-items:hover,
.header-items:focus {
  color: var(--brown);
  transition: 250ms;
}

.header-sign:hover,
.header-sign:focus {
  transition: 250ms;
  background-color: #1d1d1d;
  color: var(--brown);
}

.header-svg-icon:hover,
.header-svg-icon:focus {
  transition: 250ms;
  fill: var(--brown);
}
/* ========================menu======================== */
/* ========================menu======================== */
/* ========================menu======================== */
.menu-container {
  /* Dont touch */
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  height: 812px;
  background-color: var(--brown);
  z-index: 999;
  margin: 0;
  transform: translateX(500%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}

.menu-container.is-open {
  /* Dont touch */
  transform: translateX(0);
}

.menu-container .menu-toggle {
  /* Dont touch */
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header-fill {
  fill: black;
}
.mobile-menu .link,
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 0;
  margin: 0;
}
.header-link {
  color: var(--black);
  line-height: normal;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 20px;
}
.link_2 {
  font-weight: 700;
}

.nav-menu {
  display: flex;
  margin-top: 160px;
  margin-bottom: auto;
}
@media screen and (min-width: 768px) {
  .header-section {
    padding-bottom: 40px;
  }

  .hed-con {
    display: flex;
  }

  .header {
    padding-bottom: 40px;
  }

  .header-nav {
    height: 60px;
    width: 504px;
  }

  .header-logo {
    padding: 22px 0 22px 20px;
  }

  .header-svg-photo {
    display: none;
  }

  .header-but {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--white);
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding: 16px 55px;
    margin-left: 14px;
    height: 60px;
  }
  .header-div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--white);
    color: #121212;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding: 16px 55px;
    margin-left: 14px;
    height: 60px;
  }

  .menu-container {
    width: 480px;
    height: 1024px;
  }
  .mobile-menu {
    gap: 28px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1280px) {
  .header-section {
    padding-bottom: 80px;
  }

  .header {
    padding-bottom: 80px;
  }

  .photo-div {
    margin: 0;
    padding: 0;
  }

  .header-nav {
    width: 822px;
  }

  .style-menu {
    display: none;
  }

  .header-list {
    display: flex;
    gap: 28px;
    margin-right: 50px;
    margin-left: 97px;
  }

  .header-but {
    width: 238px;
    border: none;
  }

  .header-items {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
  }

  .header-logo {
    padding: 22px 0 22px 50px;
  }
  .header-sign {
    padding: 16px 84px;
  }
  .menu-container {
    display: none;
  }
}
