:root {
  --white: #fff;
  --black: #121212;
  --brown: #bea69e;
  --grey: #1d1d1d;
  --sans: 'DM Sans', sans-serif;
}
body {
  color: white;
  background-color: var(--black);
  font-family: var(--sans);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
