/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
     Andrian Pohrebniak
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
@import url('./variables.css');
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.hero-container {
  background-color: var(--grey);
  width: 100%;
  height: 777px;
  border-radius: 30px;
  padding: 40px 20px 0 20px;
}
.hero-span {
  color: var(--brown);
  font-style: italic;
}
.hero-main-text {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 110% */
  letter-spacing: -0.1rem;
  margin-bottom: 20px;
}
.hero-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.0175rem;
  margin-bottom: 40px;
}
.hero-items {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 2px solid #1d1d1d;
  border: none;
}
.hero-list {
  display: flex;
  position: relative;
  width: 104px;
}
.hero-items:nth-child(1) {
  z-index: 3;
}
.hero-items:nth-child(2) {
  left: 33px;
  z-index: 2;
}
.hero-items:nth-child(3) {
  left: 66px;
  z-index: 1;
}

.hero-text-happy {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.0175rem;
  max-width: 71px;
  margin-right: 4px;
}

.hero-starts {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  transition: 250ms;
}
.hero-starts:hover,
.hero-starts:focus {
  width: 50px;
  height: 50px;
}

.hero-icon-star {
  fill: var(--brown);
  height: 25px;
  transition: 250ms;
}
.hero-text-happy:hover,
.hero-text-happy:focus {
  font-weight: 700;
}
.hero-text-reviews {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.035rem;
  margin-bottom: 4px;
}
.hero-text-five {
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.04rem;
}
.hero-photo {
  margin: 0 auto;
  width: 259px;
  height: 314px;
  max-width: 100%;
}
.hero {
  padding-bottom: 80px;
}
.hero-block-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 44px;
  margin-bottom: 4px;
}
.hero-withstars {
  display: flex;
  margin-left: 40px;
}
.hero-list-text {
  display: flex;
  gap: 4px;
}
.hero-strilka-icon {
  display: flex;
  align-items: center;
}
.hero-block {
  margin-bottom: 31px;
  display: flex;
  height: 84px;
}
@media screen and (min-width: 320px) and (max-width: 345.93px) {
  .hero-block {
    margin-bottom: 12px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .hero-container {
    padding: 64px 0 0 32px;
    width: 704px;
    height: 900px;
  }
  .hero-main-text {
    max-width: 517px;
    height: 192px;
    color: #fff;
    font-size: 60px;
    line-height: 4rem; /* 106.667% */
    letter-spacing: -0.15rem;
  }
  .hero-text {
    width: 418px;
    height: 54px;
  }
  .hero-div-photo {
    display: flex;
    width: auto;
    height: auto;
  }
  .hero-strilka {
    margin: 0 40px 0 20px;
    display: block;
  }
  .hero-divstars {
    margin-left: 0;
    width: 119px;
  }
  .hero-people-photo {
    width: 54px;
    height: 54px;
    max-width: 100px;
  }
  .hero-list {
    width: 135px;
    height: 54px;
  }
  .hero-text-happy {
    font-size: 16px;
    line-height: 20px;
    max-width: 84px;
    line-height: 1.25rem;
  }
  .hero-items:nth-child(1) {
    z-index: 3;
  }
  .hero-items:nth-child(2) {
    left: 40px;
    z-index: 2;
  }
  .hero-items:nth-child(3) {
    left: 80px;
    z-index: 1;
  }
  .hero-starts {
    height: 50px;
    width: 50px;
  }
  .hero-text-reviews {
    font-size: 16px;
    line-height: 1.25rem;
  }
  .hero-photo {
    width: 353px;
    height: 434px;
    margin: 0 155px 0 155px;
  }
  .hero-block {
    width: 398px;
    height: 56px;
    margin: 0;
    margin-bottom: 40px;
  }
  .hero-div-strilka {
    height: 30px;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero-block-list {
    flex-direction: row;
    gap: 12px;
    margin-bottom: 0;
  }
  .hero-list-text {
    flex-direction: column;
  }
  .hero-starts:hover,
  .hero-starts:focus {
    width: 60px;
    height: 60px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~

~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1280px) {
  .hero-container {
    width: 1080px;
    height: 600px;
    padding: 80px 50px 0 50px;
  }
  .hero-block {
    margin: 0;
  }
  .hero-main-text {
    font-size: 64px;
    line-height: 4.25rem; /* 106.25% */
    letter-spacing: -0.16rem;
    height: auto;
  }
  .hero-text {
    margin-bottom: 136px;
  }
  .hero-photo {
    margin: 0 auto 0 auto;
    width: 397px;
    height: 520px;
  }
  .hero {
    padding-bottom: 150px;
  }
  .hero-container {
    display: flex;
  }
  .hero-flex {
    margin-right: 20px;
  }
  .hero-div-people {
    margin: 0 auto;
  }
}
