/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
     Andrian Pohrebniak
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
:root {
  --white: #fff;
  --black: #121212;
  --brown: #bea69e;
  --grey: #1d1d1d;
  --sans: 'DM Sans', sans-serif;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}
.hero-container {
  background-color: var(--grey);
  width: 100%;
  height: 777px;
  border-radius: 30px;
  padding: 40px 20px 0 20px;
}
.hero-span {
  color: var(--brown);
  font-style: italic;
}
.hero-main-text {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 110% */
  letter-spacing: -0.1rem;
  margin-bottom: 20px;
}
.hero-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.0175rem;
  margin-bottom: 40px;
}
.hero-items {
  position: absolute;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  border: 2px solid #1d1d1d;
  border: none;
}
.hero-list {
  display: flex;
  position: relative;
  width: 104px;
}
.hero-items:nth-child(1) {
  z-index: 3;
}
.hero-items:nth-child(2) {
  left: 33px;
  z-index: 2;
}
.hero-items:nth-child(3) {
  left: 66px;
  z-index: 1;
}
.hero-block {
  width: 251px;
  height: 84px;
  display: flex;
  margin-bottom: 30px;
}
.hero-text-happy {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.0175rem;
  max-width: 67px;
  margin-right: 4px;
}
.hero-strilka {
  display: flex;
  width: 89px;
  height: 36px;
  margin-top: 48px;
}
.hero-div-photo {
  width: 105px;
}
.hero-divstars {
  width: 104px;
  margin-left: 40px;
  display: flex;
}
.hero-starts {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--brown);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.hero-icon-star {
  fill: var(--brown);
  height: 25px;
}
.hero-text-reviews {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.035rem;
  margin-bottom: 4px;
}
.hero-text-five {
  font-weight: 500;
  line-height: 18px; /* 112.5% */
  letter-spacing: -0.04rem;
}
.hero-photo {
  display: flex;
  margin: 0 auto;
  width: 259px;
  height: 314px;
  max-width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 346px) {
  .hero-block {
    margin-bottom: 12px;
  }
}
.hero .container {
  padding-bottom: 80px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           MENU
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.menu-container {
  /* Dont touch */
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--white-color);
  z-index: 999;
  margin: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  display: flex;
  flex-direction: column;
}
.menu-container.is-open {
  /* Dont touch */
  transform: translateX(0);
}

.menu-container .menu-toggle {
  /* Dont touch */
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
  .svg-photo {
    display: none;
  }
  .header-nav {
    max-width: 504px;
    height: 60px;
    margin-right: 14px;
  }
  .header-container {
    display: flex;
  }
  .header-logo {
    margin-right: auto;
    padding: 22px 0 22px 20px;
  }
  .btn-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 186px;
    height: 60px;
    border-radius: 12px;
    border: none;
    background-color: var(--white);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    text-transform: uppercase;
    color: var(--black);
    font-weight: 700;
    line-height: 1.75rem;
    font-size: 18px;
  }
  .btn-signup:hover,
  .btn-signup:focus {
    color: var(--brown);
    background-color: var(--grey);
  }
  .hero-container {
    padding: 64px 0 0 32px;
    width: 704px;
    height: 900px;
  }
  .hero {
    padding-bottom: 100px;
  }
  .hero-main-text {
    max-width: 517px;
    height: 192px;
    color: #fff;
    font-size: 60px;
    line-height: 4rem; /* 106.667% */
    letter-spacing: -0.15rem;
  }
  .hero-text {
    width: 418px;
    height: 54px;
  }
  .hero-div-photo {
    display: flex;
    width: auto;
    height: auto;
  }
  .hero-strilka {
    margin: 0 40px 0 20px;
    display: block;
  }
  .hero-divstars {
    margin-left: 0;
    width: 119px;
  }
  .hero-people-photo {
    width: 54px;
    height: 54px;
  }
  .hero-list {
    width: 135px;
    height: 54px;
  }
  .hero-text-happy {
    font-size: 16px;
    line-height: 20px;
    max-width: 84px;
    line-height: 1.25rem;
  }
  .hero-items:nth-child(1) {
    z-index: 3;
  }
  .hero-items:nth-child(2) {
    left: 40px;
    z-index: 2;
  }
  .hero-items:nth-child(3) {
    left: 80px;
    z-index: 1;
  }
  .hero-starts {
    height: 50px;
    width: 50px;
  }
  .hero-text-reviews {
    font-size: 16px;
    line-height: 1.25rem;
  }
  .hero-photo {
    width: 353px;
    height: 434px;
    margin: 0 155px 0 155px;
  }
  .hero-block {
    width: 418px;
    height: 56px;
    margin: 0;
    margin-bottom: 40px;
  }
  .div-strilka {
    height: 30px;
  }
  .menu-icon {
    width: 52px;
    height: 40px;
  }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }
  .header-nav {
    max-width: 882px;
  }
  .list-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin: 0;
    margin-right: 50px;
  }
  .link-nav {
    color: var(--white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    display: block;
    padding: 21px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-nav:hover,
  .link-nav:focus {
    color: var(--brown);
  }
  .btn-signup {
    width: 238px;
  }
  .hero-container {
    width: 1080px;
    height: 600px;
    padding: 80px 50px 0 50px;
    display: flex;
  }
  .hero-main-text {
    font-size: 64px;
    line-height: 4.25rem; /* 106.25% */
    letter-spacing: -0.16rem;
  }
  .hero-text {
    margin-bottom: 136px;
  }
  .hero-photo {
    margin: 0 0 0 20px;
    width: 397px;
    height: 520px;
  }
}
@media (max-width: 1279px) {
  .menu {
    display: none;
  }
}
@media (min-width: 1280px) {
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .btn-signup {
    display: none;
  }
}
