/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
       Diana Lastovniak
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
@import url('./variables.css');
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ТУТ ВИ ПИШИТЕ ВСІ СТИЛІ ДЛЯ МОБІЛЬНОЇ ВЕРСІЇ */

.mentors {
       margin-bottom: 80px;
}

.mentors-container {
       width: 225px;
       display: contents;
}

.mentors-titel {
       color: var(--white);
       text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       font-size: 28px;
       font-style: normal;
       font-weight: 500;
       line-height: 1.14;
       letter-spacing: -0.04em;
       margin-bottom: 40px;
}

.mentors-span-title {
       color: var(--brown);
}

.mentors-list {
       display: flex;
       flex-wrap: wrap;
       gap: 40px;
       justify-content: center;
}

.mentors-content {
       padding-top: 16px;
       text-align: center;
}

.mentors-name {
       padding-bottom: 4px;
}

.mentors-name {
       color: var(--white);
       font-size: 20px;
       font-weight: 500;
       line-height: 1.2;
}

.mentors-experiance {
       color: rgba(255, 255, 255, 0.50);
       font-size: 12px;
       font-style: normal;
       font-weight: 400;
       line-height: 1.33;
       letter-spacing: -0.02em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
       .mentors {
              margin-bottom: 100px;
       }

       .mentors-container {
              width: 768px;
       }

       .mentors-titel {
              font-size: 48px;
              line-height: 1.12;
              margin-bottom: 50px;
       }

       .mentors-span-title {
              line-height: 1.13;
       }

       .mentors-list {
              display: flex;
              flex-wrap: wrap;
              gap: 100px;
              justify-content: center;
       }

       .mentors-picture {
              margin-bottom: 50px;
       }

       .mentors-name {
              font-size: 28px;
              line-height: 1.14;
       }

       .mentors-experiance {
              font-size: 14px;
       }

}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1280px) {
       .mentors {
              margin-bottom: 150px;
       }

       .mentors-container {
              width: 1280px;
              padding: 0 32px;
              display: contents;
       }

       .mentors-titel {
              font-size: 48px;
              line-height: 1.12;
       }

       .mentors-list {
              flex-wrap: wrap;
              gap: 113px;
       }
}
