/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
          Наталья
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ТУТ ВИ ПИШИТЕ ВСІ СТИЛІ ДЛЯ МОБІЛЬНОЇ ВЕРСІЇ
 */
.reviews-six {
margin-bottom: 90px;
}
.reviews-title {
font-size: 28px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.02em;  
margin-bottom: 40px;
}
.reviews-blok {
border-radius: 12px;
border: 1px solid rgba(255, 255, 255, 0.20);
width: 335px;
height: 244px;
margin-bottom: 20px;
}
.info-mentor {
display: block;
gap: 10px;
}

.reviews-photo {
border-radius: 100px;
background: var(--avatar-user-square-ethan-valdez-neutral-background, url(<path-to-image>), lightgray 50% / cover no-repeat, #E0E0E0);
}
.blok-name {
display: flex; 
justify-content: left;
flex-direction: column;
gap: 4px;
}
.reviews-name {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
}
.reviews-title-education {
color: rgba(255, 255, 255, 0.50);
font-size: 12px;
font-weight: 400;
line-height: 1.33;
letter-spacing: -0.01em;
}
.reviews-icon {
display: flex;
align-items: center;
margin-top: 4px;
margin-right: 86px;
list-style: none;
}
.reviews-icon-one,
.reviews-icon-two,
.reviews-icon-three,
.reviews-icon-four,
.reviews-icon-five {
align-items: flex-start;
gap: 4px;
}

.icon-star {
fill: #bea69e;
list-style: none;
}
.icon-staraa {
color: #414141;
color: #fff*20%;
}
.reviews-paragraf {
font-size: 14px;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.01em;
padding: 20px;
}
@import url('./variables.css');

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 768px) {
    .reviews-six {
        width: 704px;
        height: 300px;
        margin-bottom: 100px;
    }
    .reviews-title {
        font-size: 48px;
        line-height: 1.12;
        letter-spacing: -0.02em;
        margin-bottom: 50px;
    }
    .reviews-blok {
        padding: 0 32px;
    }
    .info-mentor {
        width: 640px;
        height: 196px;
    }
    .reviews-name {
        line-height: 1.4;
    }
    .reviews-title-education {
        font-size: 14px;
        line-height: 1.28;
    }
    .reviews-paragraf {
        font-size: 16px;
        line-height: 1.25;
    }
    .reviews-icon {
        position: absolute;
        margin-top: 20px;
        margin-right: 20px;
    }
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-width: 1280px) {
}
