/* <!-- ₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
          Наталья
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴
₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴₴ --> */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~mobile~~~~~~~~~~~~~~~~ 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ТУТ ВИ ПИШИТЕ ВСІ СТИЛІ ДЛЯ МОБІЛЬНОЇ ВЕРСІЇ
 */
.reviews-six {
    margin-bottom: 90px;
}

.reviews-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}
.reviews-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
}
.reviews-blok-one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    width: 100%;
    padding: 20px;
}
.reviews-blok-two {
    display: none;
}
.reviews-photo {
    display: flex;
    align-items: start;
    width: 56px;
    height: 56px;
    border-radius: 100px;
    background: var(--avatar-user-square-ethan-valdez-neutral-background, url(<path-to-image>), lightgray 50% / cover no-repeat, #E0E0E0);
}

.blok-name {
    display: flex;
    justify-content: start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    margin-left: 10px;
}
.reviews-name {
    max-width: 155px;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
}

.reviews-title-education {
    color: rgba(255, 255, 255, 0.50);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: -0.01em;
}

.reviews-icon {
    margin-bottom: 8px;
    display: inline-flex;
    flex-direction: row;
    align-items: end;
    margin-left: 4px;
    list-style: none;
    margin-left: 66px;
}

.reviews-icon-one,
.reviews-icon-two,
.reviews-icon-three,
.reviews-icon-four,
.reviews-icon-five {
    gap: 4px;
    fill: #bea69e;
    list-style: none;
}

.reviews-icon-five {
    fill: rgba(255, 255, 255, 0.20);
}
.reviews-paragraf {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.01em;
}
@media screen and (min-width: 320px) and (max-width:335px) {
    .reviews-paragraf {
        font-size: 12px;
    }
}
@import url('./variables.css');

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           TABLET
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (min-width: 768px) {
    .reviews-page {
        margin-left: 32px;
    }
}
@media screen and (min-width: 768px) {
    .reviews-six {
        margin-bottom: 100px;
    }

    .reviews-title {
        font-size: 48px;
        line-height: 1.12;
        letter-spacing: -0.02em;
        margin-bottom: 50px;
    }

    .reviews-name {
        line-height: 1.4;
    }
    
    .reviews-title-education {
        font-size: 14px;
        line-height: 1.28;
    }
    .reviews-icon {
        margin-left: 310px;
        
    }
    .reviews-blok-one.reviews-icon {
    margin-top: 20px;
    margin-right: 20px;
    justify-content: flex-end;
    }
    .icon-star {
        width: 20px;
        height: 20px;
    }
    .reviews-paragraf {
        font-size: 16px;
        line-height: 1.25;
        margin-top: 20px;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
           LAPTOP
~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (min-width: 1280px) {
    .reviews-six {
        flex-direction: column;
    }
    .reviews-blok-two {
        display: block;
    }
    .reviews-page {
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: start;
        text-align: left;
    }
    .reviews-icon {
        margin-left: 165px;
    }
}
@media screen and (min-width: 1280px) {
    .reviews-six {
        display: flex;
        flex-direction: row;
        margin-left: 0;
        align-items: flex-start;
        gap: 50px;
        margin-bottom: 175px;
    }
    .reviews-page {
       gap: 20px;
        margin-left: 0;
    }
    .reviews-blok-one,
    .reviews-blok-two {
        max-width: 525px;
    }
    .reviews-blok-two {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: start;
        text-align: left;
        border-radius: 12px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        width: 100%;
        padding: 20px;
    }
    .reviews-title {
        letter-spacing: -0.04em;
    }
}
